[Unit]
Description=Walletsmith API Server

[Service]
PIDFile=/tmp/walletsmith-server.pid
User=pi
Group=pi
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/pi/servers/walletsmith-server
ExecStart=node /home/pi/servers/walletsmith-server/bin/server.js

[Install]
WantedBy=multi-user.target