[Unit]
Description=Walletsmith API Server

[Service]
PIDFile=/tmp/walletsmith-server.pid
User=pi
Group=pi
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/pi/servers/walletsmith-server
ExecStart=npm start /home/pi/servers/walletsmith-server

[Install]
WantedBy=multi-user.target